body{
    
    background:  radial-gradient(circle, #b3000c, #8a0009, #5c0006, #2e0003, #000000);
}

.herramientas{
    display: flex;
    background: radial-gradient(circle,#ffffff, #e9c0c0,  #d35a5a, #d65656, #b3000c);
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80px;
    border-radius: 25px;
    margin : auto;
    border-radius: rgb(0, 0, 0);
    border-style: solid;  
    border-width: 5px;
}
.rojo{
    
    background-color: red;
    border-color: black;
    border-style: solid;  
    border-width: 5px;
    width: 5%;
    height: 50px;
    border-radius: 50px;
}
.amarillo{
    margin-left: 5px;
    background-color: yellow;
    width: 5%;
    height: 50px;
    border-radius: 50px;
    border-color: black;
    border-style: solid;  
    border-width: 5px;
}
.morado{
    margin-left: 5px;
    background-color: violet;
    width: 5%;
    height: 50px;
    border-radius: 50px;
    border-color: black;
    border-style: solid;  
    border-width: 5px;
}
.verde{
    margin-left: 5px;
    background-color: green;
    width: 5%;
    height: 50px;
    border-radius: 50px;
    border-color: black;
    border-style: solid;  
    border-width: 5px;
}
.naranja{
    margin-left: 5px;
    background-color: orange;
    width: 5%;
    height: 50px;
    border-radius: 50px;
    border-color: black;
    border-style: solid;  
    border-width: 5px;
}
.negro{
    margin-left: 5px;
    background-color: black;
    width: 5%;
    height: 50px;
    border-radius: 500000px;
    border-color: rgb(255, 255, 255);
    border-style: solid;  
    border-width: 5px;
}

.blanco{
    margin-left: 5px;
    background-color:white;
    width: 5%;
    height: 50px;
    border-radius: 50px;
    border-color: black;
    border-style: solid;  
    border-width: 5px;
}
.azul{
    margin-left: 5px;
    background-color: blue;
    width: 5%;
    height: 50px;
    border-radius: 50px;
    border-color: black;
    border-style: solid;  
    border-width: 5px;
}
.marron{
    margin-left: 5px;
    background-color: brown;
    width: 5%;
    height: 50px;
    border-radius: 50px;
    border-color: black;
    border-style: solid;  
    border-width: 5px;
}

.pincel{

     background-image: url(/cssyscript/img/pincel.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain; 
    border-radius: 50px;
    margin-right: 0px;
}
.cubo{
    background-image: url(/cssyscript/img/bote-de-pintura.png);
    width: 50px;
    height: 50px;
    border-radius: 50px ;
    margin-left: 0px;
    background-repeat: no-repeat;
    background-size: contain; 
    color: whitesmoke;
    
    
}
.basura{
     background-image: url(/cssyscript/img/basura.png);
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain; 
    border-radius: 50px;
    margin-right: 0px;
}
.grossor{

}
.Bloquededibujo{
   display: flex;
    background-color: rgb(215, 174, 182);
    justify-content: center;
    align-items: center;
    width: 90%; 
    height: 60vh; 
    margin: 5% auto;
    border-radius: black;
    border-style: solid;  
    border-width: 5px;
    border-radius: 25px;
    }
